@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@200;400;500;700&display=swap");

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  bottom: -0.2rem !important;
  left: 0 !important;
  background-color: #4169e1;
  height: 0.3rem !important;
  border-radius: 1rem !important;
  width: 100% !important;
}
